body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex:1;
}
.header{
    height:50px;
    background-color: #1f2937; 
}
.section-one{
    height:200px;
    background-color: #1f2937;
}
.section-two{
    height:200px;
    background-color: white;
}
.section-three{
    height:200px;
    background-color: #e5e7eb;
}
.section-four{
    height:200px;
    background-color: white;
}
.footer{
    height:50px;
    background-color: #1f2937;
}